* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

small {
  margin-top: 5px;
  color: red;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .loginAside {
  background: #233F8F;
  width: 55%;
  height: 100%;
}

.wrapper .loginMain {
  width: 45%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.wrapper .loginMain .secondWrapper {
  height: 400px;
  width: 500px;
  padding: 40px;
  border: 1px solid #767687;
  border-radius: 10px;
}

.wrapper .loginMain .secondWrapper header {
  height: 20px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .loginMain .secondWrapper .formsHolder {
  height: 300px;
}

.wrapper .loginMain .secondWrapper .formsHolder form {
  height: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrapper .loginMain .secondWrapper .formsHolder .inputSection {
  height: 80px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .loginMain .secondWrapper .formsHolder .inputSection .animatedLabel {
  color: #767687;
  position: absolute;
  left: 10px;
  top: 19px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0 2px;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper .loginMain .secondWrapper .formsHolder .inputSection .activeLabel {
  top: 2px;
  background: #FFFFFF;
  color: #233F8F;
  font-size: 14px;
}

.wrapper .loginMain .secondWrapper .formsHolder .inputSection .inputField {
  height: 40px;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 10px;
  outline: none;
  border: 1px solid #767687;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper .loginMain .secondWrapper .formsHolder .inputSection .activeInputField {
  border: 1px solid #233F8F;
}

.wrapper .loginMain .secondWrapper .formsHolder .loginForm {
  position: relative;
}

.wrapper .loginMain .secondWrapper .formsHolder .loginForm a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: 0;
          flex-flow: 0;
  position: absolute;
  right: 0;
  bottom: 100px;
}

.wrapper .loginMain .secondWrapper .formsHolder .loginFooter {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .loginMain .secondWrapper .formsHolder .loginFooter button {
  height: 40px;
  border: none;
  background: #233F8F;
  color: #FFFFFF;
  border-radius: 25px;
}
