$primaryColor: #233F8F;
$secondaryColor: #FFFFFF;
$borderColor: #767687;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//--------- common styles-----------------
.hide{
    display: none;
}
small {
    margin-top: 5px;
    color: red;
}

// -----------separate styles-----------------
.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;

    .loginAside {
        background: $primaryColor;
        width: 55%;
        height: 100%;
    }

    .loginMain {
        width: 45%;
        display: grid;
        place-items: center;

        .secondWrapper {
            height: 400px;
            width: 500px;
            padding: 40px;
            border: 1px solid $borderColor;
            border-radius: 10px;

            header {
                height: 20px;
                padding: 0 40px;
                // background: #ff0000;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .formsHolder {
                height: 300px;
                // background: #0f0;

                // -------Style for All forms---------
                form {
                    height: 100%;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                }

                // ------- common style for Input Sections-------
                .inputSection {
                    height: 80px;
                    width: 100%;
                    position: relative;
                    // background: rgb(233, 199, 5);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    .animatedLabel {
                        color: $borderColor;
                        position: absolute;
                        left: 10px;
                        top: 19px;
                        width: min-content;
                        padding: 0 2px;
                        pointer-events: none;
                        transition: all 0.5s ease;
                    }

                    .activeLabel,.activeLabelFilled {
                        top: 2px;
                        background: $secondaryColor;
                        color: $primaryColor;
                        font-size: 14px;

                    }
                   
                    .inputField{
                        height: 40px;
                        width: 100%;
                        flex-shrink: 0;
                        padding-left: 10px;
                        outline: none;
                        border: 1px solid $borderColor;
                        border-radius: 5px;
                        transition: all 0.5s ease;
                    }

                    .activeInputField, .activeInputFieldFilled{
                        border: 1px solid $primaryColor;
                    }
                }

                .loginForm {
                    position: relative;

                    a {
                        flex-flow: 0;
                        position: absolute;
                        right: 0;
                        bottom: 100px;

                    }
                    .passwordInputSection {
                        position: relative;
                        .passwordInputField{
                            padding-right: 40px;
                        }
                        .eye{
                            position: absolute;
                            right: 5px;
                            top: 20px;
                            cursor: pointer;
                        }
                    }
                }


                .loginFooter {
                    height: 60px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    button {
                        height: 40px;
                        border: none;
                        background: $primaryColor;
                        color: $secondaryColor;
                        border-radius: 25px;
                        cursor: pointer;
                    }
                }




            }
        }
    }
}